h1, h2, h3 {
    text-decoration: underline;
}

header {
    background-color: skyblue
}    

body {
  background-color: lightblue;
}

nav {
  background-color: #333;
  width: 100%;
  overflow: hidden;
}
nav a {
  float: left;
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}
nav a:hover {
  background-color: #ddd;
  color: black;
}
